*{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main:#FFA500;
    --Border:#b4b4b4;
    --Text:#313b47;
    --iconscolor : #9C9D9D;
    --mainBg:#E8E8E8;
    --white:#ffffff;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 15px;
}

.searcharea{
    width: 100%;
    max-width: 436px;
    background: rgb(255,255,255,0.2);
    display: flex;
    align-items: center;
    border: 1px solid var(--Border);
    border-radius: 60px;
    padding: 5px 5px;
}

.searcharea input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 25px;
    font-size: 1rem;
    font-style: italic;
    color: var(--Text);
}

.searcharea button{
    border: 0;
    outline: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--main);
    cursor: pointer;

}

.sideicons ul li{
    display: inline-block;
    text-align: center;
    margin: 0 16px;
}

.sideicons{
    font-size: 1rem;
    color: var(--iconscolor);
}

/* header end */

/* middle section */

.container{
    padding: 32px;
    margin: 16px auto;
    background-color: var(--mainBg);
}

.sectionContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 18px auto;
}

.sectionContent .filtersection p{
    display: inline;
    font-size: 1rem;
    font-weight: 600;
    color: #313b47;
}

.sectionContent .filtersection p span{
    background: transparent;
    border: 1px solid var(--Text);
    border-radius: 30px;
    padding: 5px 16px;
}

form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 20px;
    outline: none;
    border-radius: 29px;
    font-size: 1rem;
    background: transparent;
    background-image: url('../img/angle-down-solid.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    background-size: 10px;
}

form{
    font-size: 1rem;
}

/* middle-section-end */

/* Top carouselbox */

.boxmain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousalbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-radius: 4px;
    padding: 10px;
    position: relative;
}

.carousalimg img{
    max-width: 200px;
    width: 100%;
    height: auto;
}

.carousalbox .carousalimg,.carboxinfo{
    padding: 14px;
    margin: 5px 16px;
}

.carboxinfo h3{
    font-size: 1.5rem;
    color: var(--Text);
}

.carouselboxcontent{
   display: flex;
   align-items: center;
}

.carouselboxcontent .info{
    margin: 16px auto;
    font-size: 1em;
    padding: 0 16px;
    color: var(--Text);
}

.addbtn button{
    background-color: var(--main);
    border-radius: 30px;
    border: 0;
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}


.cartbtn{
    display: flex;
    align-items: center;
}

.cartbtn div{
    margin: 15px auto;
}

.label{
    position: absolute;
    background-color: var(--main);
    padding: 4px 8px;
    top: -10px;
    left: 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Text);
}

/* Top carouselbox end */

/* counter add minus */

.addminus{
   width: 100%;
   max-width: 140px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addminus input{
   width: 40px;
   text-align: center;
   background-color: var(--iconscolor);
   border: 0;
   font-weight: 700;
   outline: none;
}

.addminus button{
    border: 1px solid var(--Border);
    outline: none;
    background-color: var(--white);
    cursor: pointer;
}

.addminus input,button{
    display: inline;
    padding: 8px;
    font-size: 1rem;
}

/* counter add minus end */

/* section table */

.content-table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    margin: 10px auto;
    padding: 14px;
    color: var(--Text);
}

.content-table .infoT p{
    display: inline-block;
    color: var(--Text);
}

.content-table .addbtn button{
    padding: 10px 24px;
    cursor: pointer;
}

.content-table h3{
    font-size: 1rem;
    text-decoration: underline;
    color: var(--Text);
}

.content-table .infos{
    max-width: 150px;
    width: 100%;
    box-sizing: border-box;
}

.addbtn .btntxt1{
    background-color: transparent;
    border:1px solid var(--main);
    border-radius: 30px;
    padding: 10px 30px!important;
}

.addbtn .btnotxt1{
    background-color: transparent;
    border:1px solid var(--main);
    border-radius: 30px;
}

.btnotxt,.btnotxt1{
    display: none;
}

/* section table end */

.btnfooter button{
    display: block;
    margin: 15px auto;
    width: 100%;
    padding: 15px 0;
    background: transparent;
    border: 1px solid var(--Text);
    border-radius: 30px;
    cursor: pointer;

}

.btnfooter button a{
    text-decoration: none;
    color: var(--Text);
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
}
